# Macintosh
.DS_Store

# Folder
__pycache__
pfrl/
yaml*/
process*/
buffer*/
autoencoder/
data*/
noise*/
render/
intel_wind-master/
vae/
results/
logger/

# Files
overview*
debug*

# temp
*indoor.py
credentials.txt
